body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: linear-gradient(180deg, #0d0d0d, #141414);
  color: #ffffff;
}

h1 {
  text-align: center;
  padding: 20px 0;
}

.subtitle {
  color: #aaaaaa;
  font-size: 14px;
}

/* AUTH */
#auth-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.box {
  background: #1e1e1e;
  padding: 30px;
  border-radius: 12px;
  width: 300px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.5);
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: none;
  background: #2a2a2a;
  color: white;
}

button {
  background: #4ea1ff;
  color: black;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.logout-btn {
  background: #ff5c5c;
}

.switch-text span {
  color: #4ea1ff;
  cursor: pointer;
}

/* DASHBOARD */
#dashboard {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  margin: 20px 0;
}

/* MOVIE GRID */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 24px;
}

.movie-card {
  background: #1e1e1e;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0,0,0,0.5);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.movie-card:hover {
  transform: translateY(-6px);
}

.movie-card img {
  width: 100%;
}

.movie-card h4 {
  padding: 10px;
}

.movie-card p {
  padding: 0 10px 10px;
  color: #ffcc66;
}

/* MOVIE PAGE */
.movie-page {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.back-btn {
  background: transparent;
  color: #4ea1ff;
}

.movie-detail-card {
  display: flex;
  gap: 30px;
  background: #1e1e1e;
  padding: 20px;
  border-radius: 14px;
}

.movie-detail-card img {
  width: 280px;
  border-radius: 10px;
}

/* REVIEWS */
.review-card, .review-list {
  background: #1e1e1e;
  margin-top: 25px;
  padding: 20px;
  border-radius: 14px;
}

.review {
  border-bottom: 1px solid #333;
  padding: 12px 0;
}

.review.mine {
  background: #262626;
  border-radius: 8px;
  padding: 12px;
}

#stars span {
  font-size: 26px;
  cursor: pointer;
}

#stars span.selected {
  color: gold;
}
